html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 0px;
	padding-bottom: 20px;
	margin-bottom: 60px;
	font-size: 16px;
}

@media screen and (max-width:991px){
	body {
		padding-bottom: 20px;
		margin-bottom: 110px;
		font-size: 16px;
	}	
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	min-height: 60px;
	background-color: #f5f5f5;
}


body > .container {
	padding: 10px 15px 0;
	font-size: .9em;
}

h1, h2, h3{
	color: #2e3192;
	margin-top: 0;
}

a{
	color: #6d72b2;
	outline: none;
}
a:hover,
a:focus,
a:active{
	color: #2e3192;
	outline: none;
}

button{
	outline: none;
}

.row{
	/*
	margin-left: 0;
	margin-right: 0;
	*/
}

.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.footer p.text-muted{
	font-size: .8em;
	color: #2E3192;
}

@media screen and (max-width:480px){
	footer .container .text-muted {
		margin: 10px 0;
	}
	.footer p.text-muted{
		font-size: .8em;
		color: #2E3192;
		text-align: center;
	}
}

.navbar-brand.logo{
	background: url('http://www.novasempresas.com/2015/images/logo.svg') no-repeat left top;
	background-size: 100%;
	width: 220px;
	height: 58px;
	display: block;
	margin: 22px 0 0 10px;
}

.navbar {
	position: relative;
	min-height: 100px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}

.navbar_bres{
	background: #fff;
	border-bottom: 1px solid #ddd;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background: #777;
}

.menu_top a
{
	color: #FFF;
}

.menu_footer a
{
	color: #2E3192;
}

.menu_footer{
	height: 60px;
	box-sizing: border-box;
	padding: .4em 0;
}

@media screen and (max-width:991px){
	.menu_footer{
		float: none !important;		
		clear: both;
		text-align: center;
		height: 40px;
	}
	
	.menu_footer li{
		width: 24%;
		text-align: center;
	}
}

.nav.menu_top a:hover,
.menu_top li.active a,
.nav.menu_footer a:hover,
.menu_footer li.active a{
	color: #2e3192;
	background-color: transparent;
}

.menu_top_mobile{
	margin-top: 35px;
}

.jumbotron {
	background-color: #e0e1ef;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient( left, #4c53a0 0%, #cacce3 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient( left, #4c53a0 0%, #cacce3 100%);
	/* Opera */ 
	background-image: -o-linear-gradient( left, #4c53a0 0%, #cacce3 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left , right , color-stop(0, #4c53a0), color-stop(1, #cacce3));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient( left, #4c53a0 0%, #cacce3 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to  right, #4c53a0 0%, #cacce3 100%);
	height: 175px;
	padding: 0px 0;
	margin: 0 0 .5em 0;
}

.form-control {
	font-size: 16px;
	height: 40px;
}


.tit_pesquisa{
	font-size: 1em;
	color: #fff;
}
/*GOOGLE SEARCh BAR*/
button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}

.gsc-input-box,
#gsc-iw-id1{
	border: 1px solid #2E3192;
	background: #fff;
	height: 30px;
}

.gsc-selected-option,
.gsc-inline-block,
.gsc-search-button.gsc-search-button-v2{
	box-sizing: content-box;
}
.gsc-search-button.gsc-search-button-v2{
	height: 16px;
}

.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
	padding-left: 0px; 
	padding-right: 8px;
}

.gsc-table-result div {
	font-size: 1em;
}

.btn,
.btn:focus,
.btn:active,
.btn:hover,
.btn:active:focus{
	font-size: 16px;
	outline: none;
	box-shadow: none;
	padding: .3em 2em;
}

.bot_pesquisa{
	height: 35px;
}


.frm_pesquisa{
	margin: 20px auto;
	font-size: 1em;
}

.iframe_login{
	border: none;
	padding: 0;
	margin: 0;
	height: 355px;
	width: 100%;
}

.iframe_login.logado{
	height: 149px;
}




@media screen and (max-width:767px){
	body {
		padding-top: 50px;
	}
	body.body_iframe{
		padding-top: 0px;
	}
	.navbar {
		position: fixed;
		min-height: 50px;
		margin-bottom: 0px;
		border: 1px solid #ddd;
	}

	.navbar-brand.logo{
		background: url('http://www.novasempresas.com/2015/images/logo.svg') no-repeat left top;
		background-size: 100%;
		width: 164px;
		height: 43px;
		display: block;
		margin: 5px 0 0 5px;
	}
	.frm_pesquisa{
		margin: 3em auto;
		font-size: 1em;
	}
	.btn{
		width: 100%;
		margin: 1em 0 0 0;
	}
}



.btn-primary {
	color: #fff;
	background-color: #4c53a0;
	border-color: #2e3192;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
	color: #fff;
	background-color: #2e3192;
	border-color: #2e3192;
}

.g_ads,
.nossos_anuncios{
	/*	background: #eee;*/
	border: 0px solid #f70;
	display: block;
	margin: 5px auto;
	box-sizing: border-box;
	text-align: center;
	/*	float: left;*/
}

.lb_ads{
	width: 728px;
	height: 90px;
	background: #eee;
	display: block;
	margin: 5px auto;
	box-sizing: border-box;
	text-align: center;
}

.mrec_ads{
	width: 300px;
	height: 250px;
	background: #eee;
	display: block;
	margin: 5px auto;
	box-sizing: border-box;
	text-align: center;
}
.inline_links{
	margin: 2em 0;
	/*	float: left;*/
	min-height: 60px;
	/*	background: #eee;*/
	display: block;
	box-sizing: border-box;
	text-align: center;
}
.nossos_anuncios{
	display: none;
}

/*************************
CONTEUDOS
**************************/
.lista_home{
	/*	float: left;*/
}

.lista_home p{
	margin: .11em 0;
}

.lista_home p:first-of-type {
	/*	color: #777;*/
}

.lista_home .btn-default{
	margin: 1em 0;
}

.lista_home .btn-default:hover,
.lista_home .btn-default:focus,
.lista_home .btn-default:active{
	background: #cacce3;
	border-color: #4c53a0;
	color: #2e3192;
}

.btn_voltar{
	padding: .3em 2em;
}

.btn_ver_mais{
	padding: .3em 2em;
	margin: 6em auto ;
	display: inline-block;
}

.h3_links_home{
	display: inline-block;
}


.tab-panel{
	margin: 2em 0;
}
.tab-panel li a{
	cursor: pointer;
}



.tab-content {
	padding: .5em 1em; 
	background: #fafafa;
	min-height: 400px;
}


.lista_home h1,
.lista_home h2,
.lista_home h3{
	margin-top: 0;
}

.bot_outras_freguesias{
	margin-bottom: 2em;
}

.ul_distritos{
	list-style: none;
	margin: 1em .5em;
	padding: 0;
	line-height: 1.5em;
	font-size: 1.1em;
}
.img_mapa{
	margin: 2em auto;
	display: block;
}

hr.separador_pq{
	margin: .1em 0;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 0px solid #eee;
}

.logo_placeholder{
	/*	background: #eee;*/
	border: 1px solid #ddd;
	display: block;
	margin: 0 auto 1em;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	width: 150px;
	height: 150px;
	border-radius: 8px;
	box-shadow: 1px 1px 4px #777;
}

.tbl_dados tr>td:first-child{
	text-align: right;
	padding: 0 .7em 0 0;
}

@media screen and (max-width:500px){

	.ul_distritos{
		/*
		text-align: center;
		margin: 0em .5em;
		*/
		line-height: 1.8em;
	}

}


.div_loggado,
.div_nao_loggado
{
	display: none;
}

.no_padding_right{
	padding-right: 0px;
}

.no_padding_left{
	padding-left: 0px;
}




/*ESTATISTICAS*/

.div_mapa_estatisticas {
	outline: -webkit-focus-ring-color auto 0px;
	text-align: center;
}

.div_mapa_estatisticas img{
	border: 1x solid #f70;
}

.div_mapa_estatisticas area:focus,
.div_mapa_estatisticas area:active
{
	outline: -webkit-focus-ring-color auto 5px
}
/*BALOES*/
.div_balao_seta_esq h1, .div_balao_seta_dir h1 {
	font-size:16px;
	color:#1d4a64;
	font-weight:bold;
	margin-bottom:5px;	
}
.div_balao_seta_esq strong, .div_balao_seta_dir strong { font-weight:bold;}	
.div_balao_seta_esq {
	font-size:12px;
	color:#1d4a64;
	background:url(../images/balao_seta_esq.png) no-repeat top left;
	width:159px;
	height:115px;
	text-align:center;
	padding:8px 5px 0 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	line-height:15px;
	display:none;
	border: 0px solid #000;
	z-index:201;
}
.div_balao_seta_dir {
	font-size:12px;
	color:#1d4a64;
	background:url(../images/balao_seta_dir.png) no-repeat top left;
	width:159px;
	height:115px;
	text-align:center;
	padding:8px 5px 0 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	line-height:15px;
	display:none;
	z-index:200;

}
#balao {	
	position:fixed;
	padding:5px 15px 0 7px;
	line-height:13px;
	font-size:10px;
}	
#balao_lisboa {	
	position:fixed;
}
#balao_porto {	
	position:fixed;
}
#balao_norte {	
	position:fixed;
}
#balao_centro {	
	position:fixed;
}
#balao_sul {	
	position:fixed;
}
#chart_div {
	min-height:516px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

* {
	@include box-sizing(border-box);
}

$pad: 20px;
.grid {
	background: white;
	margin: 0 0 20px 0; 
}

.grid:after {
	/* Or @extend clearfix */

	content: "";
	display: table;
	clear: both;
}

.grid:last-of-type {
	padding-right: 0;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-2 {
	width: 50%;
}

.col-1-4 {
	width: 25%;
}

.col-1-8 {
	width: 12.5%;
}
/* Opt-in outside padding */

.grid-pad {
	padding: 20px 0 20px 20px;

}

.chart {
	width: 100%;
	height: 600px;
}

.div_bot_result_nac {
	display:none;
	margin: 0 0 25px 0;
	text-align: center;
}

.div_bot_result_nac a{
	cursor: pointer;
	font-size: 18px;
}

.div_bot_result_nac a:hover{
	color: #2e358f;
	text-decoration: none;
}






